In [81]:
import pandas as pd
import numpy as np

In [82]:
df_movies_metadata = pd.read_csv('movies_metadata.csv')

In [83]:
print(df_movies_metadata.columns)

Index([u'adult', u'belongs_to_collection', u'budget', u'genres', u'homepage',
       u'id', u'imdb_id', u'original_language', u'original_title', u'overview',
       u'popularity', u'poster_path', u'production_companies',
       u'production_countries', u'release_date', u'revenue', u'runtime',
       u'spoken_languages', u'status', u'tagline', u'title', u'video',
       u'vote_average', u'vote_count'],
      dtype='object')

In [84]:
df_movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [85]:
df_movies_metadata.shape

(45466, 24)

In [86]:
df_movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

In [87]:
# Remove features that are not useful
df_movies_metadata = df_movies_metadata.drop(['imdb_id'], axis=1)

In [88]:
df_movies_metadata[df_movies_metadata['original_title'] != df_movies_metadata['title']][['title', 'original_title']].head()

                        title                    original_title
28  The City of Lost Children        La Cité des Enfants Perdus
29             Shanghai Triad                         摇啊摇，摇到外婆桥
32           Wings of Courage  Guillaumet, les ailes du courage
57                The Postman                        Il postino
58           The Confessional                  Le confessionnal

In [89]:
df_movies_metadata = df_movies_metadata.drop('original_title', axis=1)

In [90]:
df_movies_metadata['revenue'] = df_movies_metadata['revenue'].replace(0, np.nan)

In [91]:
df_movies_metadata['budget'] = pd.to_numeric(df_movies_metadata['budget'], errors='coerce')
df_movies_metadata['budget'] = df_movies_metadata['budget'].replace(0, np.nan)
df_movies_metadata[df_movies_metadata['budget'].isnull()].shape

(36576, 22)

In [92]:
# Drop Adult movies
df_movies_metadata['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 - Written by Ørnås                                                                                                                   1
Name: adult, dtype: int64

In [93]:
df_movies_metadata = df_movies_metadata.drop('adult', axis=1)

In [94]:
base_poster_url = 'http://image.tmdb.org/t/p/w185/'
df_movies_metadata['poster_path'] = base_poster_url + df_movies_metadata['poster_path']

In [95]:
# create the year feature
df_movies_metadata['year'] = pd.to_datetime(df_movies_metadata['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [96]:
# create the return feature
df_movies_metadata['return'] = df_movies_metadata['revenue'] / df_movies_metadata['budget']
df_movies_metadata[df_movies_metadata['return'].isnull()].shape
# Let's explore our dataset again
df_movies_metadata.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,http://image.tmdb.org/t/p/w185//rhIRbceoE9lR4v...,"[{'name': 'Pixar Animation Studios', 'id': 3}]",...,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415,1995,12.451801
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,en,A family wedding reignites the ancient feud be...,11.7129,http://image.tmdb.org/t/p/w185//6ksm1sjKMFLbO7...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",...,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,1995,NaN
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.85949,http://image.tmdb.org/t/p/w185//16XOMpEaLWkrcP...,[{'name': 'Twentieth Century Fox Film Corporat...,...,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,en,Just when George Banks has recovered from his ...,8.38752,http://image.tmdb.org/t/p/w185//e64sOI48hQXyru...,"[{'name': 'Sandollar Productions', 'id': 5842}...",...,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173,1995,NaN

In [97]:
# Filter only on Science Fiction and Fantasy
df_movies_sff = df_movies_metadata[df_movies_metadata['genres'].str.contains("Science Fiction|Fantasy")]
df_movies_sff.shape

(4844, 23)

In [98]:
# Let's explore our dataset again
df_movies_sff.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN
28,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,108,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.096589
31,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.723390
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756,1995,8.471164

In [103]:
# Sub-genre List
# - alien
# - space
# - robot
# - time_travel
# - super
# - dystopian
# Approach: Create new column called sub_genres
# if overview column contains word, append that word + '/' to the cell in sub_genres

# Create new column called sub_genres
df_movies_sff['sub_genres'] = ''

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [104]:
df_movies_sff.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
1,NaN,6.5e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.04303,
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN,
28,NaN,1.8e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.0965895,
31,NaN,2.95e+07,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.72339,
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",3e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6,756,1995,8.47116,

In [106]:
df_movies_sff.loc[df_movies_sff['overview'].str.contains("alien", na=False),'sub_genres'] = 'alien,'

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [107]:
df_movies_sff.loc[df_movies_sff['overview'].str.contains("space", na=False),'sub_genres'] = df_movies_sff['sub_genres'].astype(str) + 'space,'

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [112]:
df_movies_sff.loc[df_movies_sff['overview'].str.contains("robot", na=False), 'sub_genres'] = df_movies_sff['sub_genres'].astype(str) + 'robot,'

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [113]:
df_movies_sff.loc[df_movies_sff['overview'].str.contains("time travel", na=False), 'sub_genres'] = df_movies_sff['sub_genres'].astype(str) + 'time_travel,'

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [116]:
df_movies_sff.loc[df_movies_sff['overview'].str.contains("super", na=False), 'sub_genres'] = df_movies_sff['sub_genres'].astype(str) + 'super,'

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [117]:
df_movies_sff.loc[df_movies_sff['overview'].str.contains("dystopian", na=False), 'sub_genres'] = df_movies_sff['sub_genres'].astype(str) + 'dystopian,'

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [118]:
df_movies_sff['sub_genres'].value_counts()

                      3957
alien,                 241
super,                 212
space,                 195
robot,                  96
alien,space,            62
time_travel,            22
dystopian,              14
space,robot,            13
alien,robot,             9
alien,super,             7
space,super,             6
robot,super,             6
alien,space,super,       3
space,dystopian,         1
alien,space,robot,       1
Name: sub_genres, dtype: int64

In [121]:
# number of empty sub_genres remaining
(df_movies_sff['sub_genres'].values == '').sum()

3957

In [122]:
# we still need to do some work here... label the rest of the movies with sub_genres
df_movies_sff.loc[df_movies_sff['sub_genres'].values=='']

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
1,NaN,6.5e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.04303,
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN,
28,NaN,1.8e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.0965895,
31,NaN,2.95e+07,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.72339,
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",3e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6,756,1995,8.47116,
44,NaN,2e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,en,Susan wants to work in television and will the...,10.4485,http://image.tmdb.org/t/p/w185//zCREx8trzejNie...,"[{'name': 'The Rank Organisation', 'id': 364},...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,False,6.7,177,1995,1.06423,
59,NaN,4.5e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,11359,en,A nine-year-old boy gets a plastic Indian and ...,10.6733,http://image.tmdb.org/t/p/w185//l16BtfILyWxYwS...,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Indian in the Cupboard,False,5.9,136,1995,NaN,
65,"{'id': 124935, 'name': 'The Lawnmower Man Coll...",NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,11525,en,Jobe is resuscitated by Jonathan Walker. He wa...,2.49535,http://image.tmdb.org/t/p/w185//i0hBsWBLw64XRe...,"[{'name': 'New Line Cinema', 'id': 12}]",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,God made him simple. Science made him a god. N...,Lawnmower Man 2: Beyond Cyberspace,False,2.8,32,1996,NaN,
75,"{'id': 122017, 'name': 'Screamers Collection',...",2e+07,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,9102,en,"(SIRIUS 6B, Year 2078) On a distant mining pla...",12.7588,http://image.tmdb.org/t/p/w185//aFEs7D7IQ2IehT...,"[{'name': 'The Movie Network (TMN)', 'id': 338...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The last scream you hear will be your own.,Screamers,False,6.1,154,1995,0.289094,
96,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45549,en,"A dark, hip, urban story of a barren and anony...",2.65765,http://image.tmdb.org/t/p/w185//jdYL6f0KXnYBcn...,"[{'name': 'Channel Four Films', 'id': 181}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one leaves without paying...,Shopping,False,5.6,13,1994,NaN,
101,NaN,1.8e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,2045,en,Ray Liotta stars as a medical examiner who has...,2.46442,http://image.tmdb.org/t/p/w185//qQek3X5Yv0iLZq...,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He loved her. He lost her. He won't let her me...,Unforgettable,False,5.3,22,1996,NaN,
124,"{'id': 91430, 'name': 'The Neverending Story C...",1.7e+07,"[{'id': 14, 'name': 'Fantasy'}]",NaN,27793,en,A young boy must restore order when a group of...,6.25238,http://image.tmdb.org/t/p/w185//driZCEKL79PaCs...,"[{'name': 'Studio Babelsberg', 'id': 264}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's a brand new beginning in the adventure th...,The Neverending Story III: Escape from Fantasia,False,4.4,105,1994,NaN,
150,"{'id': 120794, 'name': 'Batman Collection', 'p...",1e+08,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,414,en,The Dark Knight of Gotham City confronts a das...,13.3214,http://image.tmdb.org/t/p/w185//eTMrHEhlFPHNxp...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Courage now, truth always...",Batman Forever,False,5.2,1529,1995,3.36529,
155,"{'id': 8819, 'name': 'Casper Collection', 'pos...",5e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,8839,en,Furious that her late father only willed her h...,12.8125,http://image.tmdb.org/t/p/w185//cpMbvFDD2C21pq...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Get an afterlife,Casper,False,6,1045,1995,5.75856,
157,NaN,5e+07,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,10329,en,Eight people embark on an expedition into the ...,7.26057,http://image.tmdb.org/t/p/w185//wjeQaiAApgzdip...,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Where you are the endangered species.,Congo,False,5,214,1995,3.04044,
178,"{'id': 286162, 'name': 'Power Rangers Collecti...",1.5e+07,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,en,Power up with six incredible teens who out-man...,7.02423,http://image.tmdb.org/t/p/w185//A3ijhraMN0tvpD...,[{'name': 'Twentieth Century Fox Film Corporat...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153,1995,4.4,
185,"{'id': 9068, 'name': 'The Prophecy Collection'...",8,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,11980,en,The angel Gabriel comes to Earth to collect a ...,10.1876,http://image.tmdb.org/t/p/w185//A3aYGp8LLxuFdz...,"[{'name': 'Dimension Films', 'id': 7405}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"On ancient ground, at the edge of the world, a...",The Prophecy,False,6.4,139,1995,2,
186,NaN,NaN,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,58372,en,"On Christmas eve, a relentlessly cheerful woma...",0.119713,http://image.tmdb.org/t/p/w185//mIEtFo5z8G6b0r...,"[{'name': 'Playhouse International Pictures', ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The most twisted Christmas ever.,Reckless,False,10,1,1995,NaN,
195,NaN,4.2e+07,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.strange-days.com,281,en,Set in the year 1999 during the last days of t...,11.2231,http://image.tmdb.org/t/p/w185//rXvy5hG9OeVmgn...,"[{'name': 'Lightstorm Entertainment', 'id': 574}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You know you want it.,Strange Days,False,6.8,334,1995,0.189507,
198,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,47939,en,While Jane Holman (Mastrantonio) is driving wi...,11.002,http://image.tmdb.org/t/p/w185//ub79b63JJV4oeH...,"[{'name': 'Savoy Pictures', 'id': 11308}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If you really believe, magic will find you",Three Wishes,False,6.1,18,1995,NaN,
224,NaN,NaN,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,62488,it,Johnny Destiny burns into Las Vegas in his hot...,0.710671,http://image.tmdb.org/t/p/w185//9iczUcmMLnOZ4L...,"[{'name': 'Savoy Pictures', 'id': 11308}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fate visits in ways you never expect,Destiny Turns on the Radio,False,5.3,9,1995,NaN,
237,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,21183,en,Workaholic Thomas Johnson dies in an auto acci...,4.95394,http://image.tmdb.org/t/p/w185//W9QVHIH4n8X8OL...,"[{'name': 'Metro-Goldwyn-Mayer', 'id': 21}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Unleash your imagination... and come along on ...,Fluke,False,6.6,48,1995,NaN,
239,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,47867,en,A talking pig named Gordy becomes involved in ...,0.398924,http://image.tmdb.org/t/p/w185//xKGu7MQz9lxK3J...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The talking pig who made it big!,Gordy,False,3,4,1995,NaN,
243,NaN,5e+06,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",http://www.miramax.com/movie/heavenly-creatures,1024,en,Based on the true story of Juliet Hulme and Pa...,9.43804,http://image.tmdb.org/t/p/w185//5ek49TUeqStPmK...,"[{'name': 'WingNut Films', 'id': 11}, {'name':...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From a secret world no one could see... came a...,Heavenly Creatures,False,6.9,299,1994,0.609827,
254,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,37108,en,A Southern California kid named Calvin Fuller ...,5.87451,http://image.tmdb.org/t/p/w185//iklPPdF1TQFPmR...,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Joust Do It.,A Kid in King Arthur's Court,False,4.3,40,1995,NaN,
258,NaN,1.7e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,19101,en,When her father enlists to fight for the Briti...,7.73172,http://image.tmdb.org/t/p/w185//a7LslH4Ofdvi1o...,"[{'name': 'Warner Bros.', 'id': 6194}]",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every girl everywhere is a princess.,A Little Princess,False,7.4,207,1995,NaN,
269,NaN,4.5e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,3036,en,"Based on Mary Shelley's novel, ""Frankenstein"" ...",14.2878,http://image.tmdb.org/t/p/w185//uG0YLHdiBuWBv9...,"[{'name': 'American Zoetrope', 'id': 70}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Be Warned. It's Alive,Mary Shelley's Frankenstein,False,6.1,272,1994,2.48903,
273,NaN,NaN,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,10510,en,A little girl discovers dreams can come true i...,5.83162,http://image.tmdb.org/t/p/w185//iuI31j8DM4TOxJ...,[{'name': 'Twentieth Century Fox Film Corporat...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If you really believe, anything can happen.",Miracle on 34th Street,False,6.4,199,1994,NaN,
282,"{'id': 286948, 'name': 'Nemesis Collection', '...",NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63105,en,It has been 73 years since Alex failed and the...,1.46649,http://image.tmdb.org/t/p/w185//mY7SX6aBDumSwe...,"[{'name': 'Filmwerks', 'id': 7954}, {'name': '...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Future Just Got Darker,Nemesis 2 - Nebula,False,4.6,10,1995,NaN,
288,NaN,5e+07,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,6950,en,A deadly airborne virus finds its way into the...,13.6764,http://image.tmdb.org/t/p/w185//4KymNvlWR0XF0s...,"[{'name': 'Kopelson Entertainment', 'id': 824}...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,This animal carries a deadly virus... and the ...,Outbreak,False,6.4,522,1995,3.79719,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45183,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,429101,en,Anti Matter (AKA Worm) is a sci-fi noir take o...,4.57264,http://image.tmdb.org/t/p/w185//fQq24L8ioUy3cH...,"[{'name': 'Cast Iron Picture Co., The', 'id': ...",...,[],Released,NaN,Anti Matter,False,6.7,22,2016,NaN,
45191,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,429524,en,"When drones arrive in a flash, slaughtering hu...",1.451207,http://image.tmdb.org/t/p/w185//a75NFvGoV6vsMF...,"[{'name': 'Cinetel Films', 'id': 10399}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Drone Wars,False,3,7,2016,NaN,
45192,NaN,NaN,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",NaN,421126,uk,"Little Nicky, the son of the Tanner, a famous ...",1.694007,http://image.tmdb.org/t/p/w185//61RuRbBTLM3Prj...,"[{'name': 'Panama Grand Prix', 'id': 82345}]",...,"[{'iso_639_1': 'uk', 'name': 'Український'}]",Released,NaN,The Dragon Spell,False,4,1,2017,NaN,
45200,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",https://www.youtube.com/watch?v=pKWB-MVJ4sQ,464111,en,"Stranded in an Arctic mine, two survivors are ...",3.214001,http://image.tmdb.org/t/p/w185//rjm7KaiLsEwRcx...,"[{'name': 'Oats Studio', 'id': 91393}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Zygote,False,7.2,28,2017,NaN,
45202,NaN,NaN,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",http://wishuponmovie.com/,440597,en,A teenage girl discovers a box with magical po...,59.578823,http://image.tmdb.org/t/p/w185//u0vnocj57vJt5D...,"[{'name': 'Broad Green Pictures', 'id': 49389}...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Be careful what you wish for,Wish Upon,False,5.3,127,2017,NaN,
45259,NaN,NaN,"[{'id': 14, 'name': 'Fantasy'}]",NaN,104700,fr,An astronomer has a terrifying dream.,0.229221,http://image.tmdb.org/t/p/w185//qtBA6o4bkvIP1d...,"[{'name': 'Star Film Company', 'id': 45867}]",...,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Astronomer's Dream,False,6.4,26,1898,NaN,
45262,NaN,NaN,"[{'id': 14, 'name': 'Fantasy'}]",NaN,104702,fr,"St. Anthony is tempted by visions of women, in...",0.493693,http://image.tmdb.org/t/p/w185//7xjeqoB5Kp9Mzw...,"[{'name': 'Star Film Company', 'id': 45867}]",...,[],Released,NaN,The Temptation of St. Anthony,False,5.3,6,1898,NaN,
45288,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,36391,en,A comedy. The story follows a young scientist ...,0.529836,http://image.tmdb.org/t/p/w185//66prVNb0Tc83je...,[],...,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,King Size,False,7.3,8,1988,NaN,
45300,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,58133,fr,La Possibilité d'une île is a 2008 film direct...,0.402427,http://image.tmdb.org/t/p/w185//1kFhV7ZxW54uY3...,"[{'name': 'Mandarin Films', 'id': 12096}]",...,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Possibility of an Island,False,4.8,3,2008,NaN,
45303,"{'id': 152918, 'name': 'Mister Blot Collection...",NaN,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10751, ...",NaN,78359,pl,"Thanks to the powers of magic, Adaś Niezgódka ...",1.084496,http://image.tmdb.org/t/p/w185//ArYB2on6bOTykJ...,[],...,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Mister Blot's Academy,False,6,5,1984,NaN,
45315,"{'id': 152918, 'name': 'Mister Blot Collection...",NaN,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10751, ...",NaN,152912,pl,"It's Christmas, and children at an orphanage i...",0.648241,http://image.tmdb.org/t/p/w185//ogZyHLeupTifSq...,[{'name': 'Slovenská filmová tvorba Koliba (SF...,...,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Mr. Blot in Space,False,0,0,1988,NaN,
45316,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,68802,pl,A woodsman find and abandoned child in the for...,0.000151,http://image.tmdb.org/t/p/w185//zsX5DD8CNACt0Q...,"[{'name': 'Se-ma-for Studios', 'id': 6551}]",...,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Friend of the Jolly Devil,False,0,0,1987,NaN,
45320,NaN,NaN,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,157320,pl,"The story is narrated by ten-year old Staszek,...",0.120464,http://image.tmdb.org/t/p/w185//9NoRSR0Ad7kJYO...,[],...,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,History of Cinema in Popielawy,False,7.3,2,1998,NaN,
45334,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",NaN,104704,fr,"A priest is officiating at a convent, when sud...",0.55004,http://image.tmdb.org/t/p/w185//ntX9KQwyExY0bN...,"[{'name': 'Star-Film', 'id': 7159}]",...,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Devil in a Convent,False,6,10,1899,NaN,
45340,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,50977,en,A rich rocket scientist organizes an expeditio...,0.223436,http://image.tmdb.org/t/p/w185//jI3SF3xBJ7AJvJ...,"[{'name': 'Moon Productions', 'id': 63074}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A truly different adventure!,Nude on the Moon,False,3.3,3,1961,NaN,
45344,NaN,NaN,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,90063,es,"Scientists Werner Amadeus, son of Count Dracul...",0.035007,http://image.tmdb.org/t/p/w185//gD4iXhoHQeRGvG...,[{'name': 'Instituto Cubano del Arte e Industr...,...,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,Not since FRITZ THE CAT has there been such a ...,Vampires in Havana,False,5.3,10,1985,NaN,
45353,"{'id': 123720, 'name': 'Frankenstein (Hammer S...",NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,3104,en,A deformed tormented girl drowns herself after...,2.302582,http://image.tmdb.org/t/p/w185//s95WohDSxZ0WyC...,"[{'name': 'Hammer Film Productions', 'id': 1314}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Now Frankenstein has created a beautiful woman...,Frankenstein Created Woman,False,5.9,33,1967,NaN,
45356,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",NaN,43085,en,Lt. Bobby Quinn is a Special Forces commando k...,5.015147,http://image.tmdb.org/t/p/w185//ofvuIqiOmeCbPA...,"[{'name': 'Mindfire Entertainment', 'id': 8068}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead and Deader,False,5.8,10,2006,NaN,
45375,NaN,NaN,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,413421,hi,A man is forced to marry a tree to ward off il...,0.600717,http://image.tmdb.org/t/p/w185//zBsPbHNKMDu1hW...,"[{'name': 'Fox Star Studios', 'id': 12154}, {'...",...,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Some love stories last beyond a lifetime,Phillauri,False,7.1,11,2017,NaN,
45420,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,18098,en,Scheherezade puts herself in danger to save Su...,2.266456,http://image.tmdb.org/t/p/w185//vpIDK57iDCCv0D...,"[{'name': 'Studio Babelsberg', 'id': 264}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"When Night Falls, the Adventure Begins!",Arabian Nights,False,6.9,21,2000,NaN,
45430,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",NaN,222872,en,Sci-fi thriller directed by Fred Gallo.,1.188052,http://image.tmdb.org/t/p/w185//kYRubwfzgCk9IM...,"[{'name': 'The Pacific Trust', 'id': 30376}]",...,[],Released,NaN,Starquest II,False,2,1,1996,NaN,
45439,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,en,Paula the ape woman (Acquanetta) is alive and ...,0.143223,http://image.tmdb.org/t/p/w185//udZ3hvhC52su7U...,"[{'name': 'Universal Pictures', 'id': 33}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2,1944,NaN,
45443,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,fr,A chemist in his laboratory places upon a tabl...,1.618458,http://image.tmdb.org/t/p/w185//9oqTGZcQf0Uwsb...,"[{'name': 'Star Film Company', 'id': 45867}]",...,[],Released,NaN,The Man with the Rubber Head,False,7.6,29,1901,NaN,